.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  display: flex;
  justify-content: space-between;
}
.list-object{
  max-width: 20%;
  cursor: pointer;
}
.object-item{
  margin-top: 50px;
  max-width: 100%;
  width: 250px;
}
#main-root{
  width:  60%;
  border: 1px solid black;
  position: relative;
}
#main-root *{
  position: absolute;
  top: 0;
  left: 0;
}
.inspector{
  width: 20%;
}